<% content_for :title do %>Sobre<% end %>
<h3>Sobre o Website</h3>
<p>
Essa aplicação foi criada com
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
do <%= link_to('projeto RailsApp', 'http://railsapps.github.io/') %>.
</p>
